/* App.css */

.App {
  text-align: center;
  background-color: #f0f0f0; /* Set the background color of the entire page */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center;
  align-items: center;
}

canvas {
  height: 70vh; /* Adjust the height of the canvas */
  width: 70vw; /* Adjust the width of the canvas */
  border: 2px solid #333; /* Add a border around the canvas */
  background-color: #fff; /* Set the background color of the canvas */
  margin-top: 20px; /* Add some top margin to the canvas */
}

.redrawButton {
  margin-top: 10px;
  padding: 10px 20px; /* Add padding to the button */
  background-color: #007bff; /* Set the background color of the button */
  color: #fff; /* Set the text color of the button */
  border: none; /* Remove the border of the button */
  border-radius: 5px; /* Add border radius to the button */
  cursor: pointer; /* Change cursor to pointer when hovering over the button */
  transition: background-color 0.3s ease; /* Add transition effect to button background color */
}

.redrawButton:hover {
  background-color: #0056b3; /* Change button background color on hover */
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* Adjust this to change button alignment */
}
